<div class="">
  <div class="deals-of-the-day">

    <div class="dashboard-label">
      <h2> Deals of the Day </h2>
      <p>Time hear  </p>
      <a href="javascript:void(0)" class="btn btn-primary"> VIEW ALL </a>
    </div>
    <div class="product-list-container">
      <div><!--
      <a href="javascript:void(0)">
        <div class="product-list-item">
          <img src="assets/mens_clothing.jpg" />
          <div>
            <div class="brand-header"> Top Brands </div>
            <div class="price-intro">Under &#8377;989 </div>
            <div class="product-category"> Men's Clothing </div>
          </div>
        </div>
      </a>
      <a href="javascript:void(0)">
        <div class="product-list-item">
          <img src="assets/mens_clothing.jpg" />
          <div>
            <div class="brand-header"> Top Brands </div>
            <div class="price-intro">Under &#8377;989 </div>
            <div class="product-category"> Men's Clothing </div>
          </div>
        </div>
      </a>
      <a href="javascript:void(0)">
        <div class="product-list-item">
          <img src="assets/mens_clothing.jpg" />
          <div>
            <div class="brand-header"> Top Brands </div>
            <div class="price-intro">Under &#8377;989 </div>
            <div class="product-category"> Men's Clothing </div>
          </div>
        </div>
      </a>
      <a href="javascript:void(0)">
        <div class="product-list-item">
          <img src="assets/mens_clothing.jpg" />
          <div>
            <div class="brand-header"> Top Brands </div>
            <div class="price-intro">Under &#8377;989 </div>
            <div class="product-category"> Men's Clothing </div>
          </div>
        </div>
      </a>
      <a href="javascript:void(0)">
        <div class="product-list-item">
          <img src="assets/mens_clothing.jpg" />
          <div>
            <div class="brand-header"> Top Brands </div>
            <div class="price-intro">Under &#8377;989 </div>
            <div class="product-category"> Men's Clothing </div>
          </div>
        </div>
      </a>
      <a href="javascript:void(0)">
        <div class="product-list-item">
          <img src="assets/mens_clothing.jpg" />
          <div>
            <div class="brand-header"> Top Brands </div>
            <div class="price-intro">Under &#8377;989 </div>
            <div class="product-category"> Men's Clothing </div>
          </div>
        </div>
      </a>-->
      <app-product-item *ngFor="let item of shoppingListCategories" [productItem]="item"> </app-product-item>
      </div>
    </div>
  </div>
  <div class="all-product-category">
    <app-product-item *ngFor="let item of shoppingListCategories" [productItem]="item"> </app-product-item>
  </div>
  <div class="new-season-collection">

  </div>

  <div class="featured-brands">

  </div>
  <div class="discount-product">

  </div>
  <div class="featured-brands">

  </div>
  <div class="new-arrival">

  </div>
  <div class="featured-brands">

  </div>

  <div class="baby-kids">

  </div>
  <div class="fashion-travel-accessories">

  </div>
  <div class="featured-brands">

  </div>


</div>
