<nav class="navbar navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Todo</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="add" routerLinkActive="active">Add</a></li>
        <li><a routerLink="edit" routerLinkActive="active">Edit</a></li>
      </ul>
  </div>
</nav>
<div class="container">
  <router-outlet> </router-outlet>
</div>
