/* You can add global styles to this file, and also import other style files */
.navbar-custom {
  background-color: #337ab7;
}
.navbar-custom a {
  color: #fff !important;
}

.navbar-custom a:hover {
  background-color: #337ab7 !important;
}
